/* BASIC RESET */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: system-ui;
}

.container{
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

/* SCREENS */

.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active{
    display: block;
}

/* START SCREEN*/

#startScreen h1{
    color: #e86a33;
    margin-bottom: 20px;
    font-size: 2.5rem;

}

.quizHeader{
    margin-bottom: 30px;
}

#questionText{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
}

.quizInfo{
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 1rem;
    margin-bottom: 10px;
}

.answersContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answerButton{
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;    
}

.answerButton:hover{
    background-color: #eadbc8;
    border-color: #dac0ae;

}